.folder-list {
  margin: 30px 5%;
  padding: 5%;
}

@media (min-width: 544px) {
  .folder-list {
    margin: 40px auto;
    max-width: 440px;
    padding: 40px;
  }
}

.folder-list ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #555;
}

.folder-list li {
  list-style: none;
  color: #333;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}

.folder-list button {
  border: none;
}

.folder-list li:before,
.folder-list button:before {
  margin-right: 10px;
  content: "";
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../images/icons/file.svg");
}

.folder-list button:before {
  background-image: url("../images/icons/folder.svg");
}
